.btn {
	padding: 10px 22px;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.btn.primary {
    border: 2px solid var(--primary-color-blue);
    color: #ffffff;
    background: var(--primary-color-blue);
}

.btn.primary:hover {
	background-color: transparent;
	color:var(--primary-color-blue);
}

.btn.secondary {
    border: 2px solid var(--primary-color-blue);
    color: var(--primary-color-blue);
    background: transparent;
}
.btn.secondary:hover {
	background-color: var(--primary-color-blue);;
	color: #ffffff;
}

.btn.disabled {
    opacity: .25;
}


