{
  "printWidth": 80,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "tabWidth": 4,
  "useTabs": true,
  "endOfLine": "auto"
}