.btn {
	padding: 10px 22px;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.btn.primary {
    border: 2px solid var(--primary-color-blue);
    color: #ffffff;
    background: var(--primary-color-blue);
}

.btn.primary:hover {
	filter: brightness(1.5);
}

.btn.primary:active {
    filter: brightness(0.8);
}

.btn.secondary {
    border: 2px solid var(--primary-color-blue);
    color: var(--primary-color-blue);
    background: transparent;
}
.btn.secondary:hover {
	background-color: var(--primary-color-blue);
	color: #ffffff;
	filter: brightness(1.5);
}

.btn.secondary:active {
    filter: brightness(0.8);
}

.btn.disabled {
    opacity: .25;
    cursor: not-allowed;
}

.btn svg {
    margin-right: 8px;
}


@media (max-width: 768px) {
    .btn {
       width: 100%;
    }
}