.document-validating {
	position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    z-index: 9999;
    background: #ffffffcf;
}

